<div class="main-block d-flex flex-column mx-auto p-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="main-form d-flex flex-column">
    
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username">
    
        <label for="password">Password: </label>
        <input id="password" type="text" formControlName="password">
    
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    
    </form>
    
    <div *ngIf="userReponse$ | async; let user">
        <p>
            Utilisateur connecté : {{ user.username }}
        </p>
    </div>
    
</div>